<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./partials/head %>

  <style media="screen">
  </style>
</head>
<body>

  <% include ./partials/nav %>
  <div class="top-text orange lighten-3">
    <div class="container">
        <h4>Current Build List</h4>
    </div>
  </div>
  <div class="col s12 m12">
      <div class="black-text grey lighten-4" style="padding:20px;">
        <p class="center-align">Are you new to building computers? Check out this <a href="/guide">Build Guide</a>!</p>
      </div>
  </div>
    <!--   Main Container   -->
  <div class="container">
    <div class="section">
      <% if(user) { %>

        <!-- <form class="right" action="index.html" method="post">
          <button type="submit" class="waves-effect waves-light orange btn">Save Build</button>
        </form> -->

      <div class="row" style="padding:50px 0px 50px 0px">
          <table class="striped responsive-table">
           <thead>
             <tr>
                 <th>Part</th>
                 <th>Select</th>
                 <th>Price (USD)</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>CPU</td>
               <% if(cpu.name != undefined){ %>
               <td>
                   <%= cpu.make %> <%= cpu.name %> <a href="/products/cpu">change</a>
               </td>
                <td>$<%= cpu.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= cpu.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/cpu?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/cpu">Choose CPU</a>
               </td>
               <td></td>
               <td></td>
                <td></td>
               <% } %>
             </tr>
             <tr>
               <td>CPU Cooler</td>
               <% if(cooler.name != undefined){ %>
               <td>
                   <%= cooler.make %> <%= cooler.name %> <a href="/products/cpu-cooler">change</a>
               </td>
                <td>$<%= cooler.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= cooler.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/cpu-cooler?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
                 <td>
                   <a class="waves-effect waves-light blue lighten-1 btn" href="/products/cpu-cooler">Choose Cooler</a>
                 </td>
                 <td></td>
                 <td></td>
                 <td></td>
               <% } %>
             </tr>
             <tr>
               <td>Motherboard</td>
               <% if(mobo.name != undefined){ %>
               <td>
                   <%= mobo.make %> <%= mobo.name %> <a href="/products/motherboard">change</a>
               </td>
                <td>$<%= mobo.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= mobo.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/mobo?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/motherboard">Choose Motherboard</a>
               </td>
               <td></td>
               <td></td>
                <td></td>
               <% } %>
             </tr>
             <tr>
               <td>RAM</td>
               <% if(ram.name != undefined){ %>
               <td>
                   <%= ram.make %> <%= ram.name %> <%= ram.size %>GB <a href="/products/ram">change</a>
               </td>
                <td>$<%= ram.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= ram.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/ram?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/ram">Choose RAM</a>
               </td>
               <td></td>
               <td></td>
               <td></td>
               <% } %>
             </tr>
             <tr>
               <td>GPU</td>
               <% if(gpu.name != undefined){ %>
               <td>
                   <%= gpu.make %> <%= gpu.name %> <%= gpu.size %>GB<a href="/products/gpu"> change</a>
               </td>
                <td>$<%= gpu.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= gpu.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/gpu?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/gpu">Choose GPU</a>
               </td>
               <td></td>
               <td></td>
               <td></td>
               <% } %>
             </tr>
             <tr>
               <td>Storage</td>
               <% if(storage.name != undefined){ %>
               <td>
                   <%= storage.make %> <%= storage.name %> <%= storage.size %>GB <a href="/products/storage"> change</a>
               </td>
                <td>$<%= storage.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= storage.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/storage?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/storage">Choose Storage</a>
               </td>
               <td></td>
               <td></td>
               <td></td>
               <% } %>
             </tr>
             <tr>
               <td>Power Supply</td>
               <% if(psu.name != undefined){ %>
               <td>
                   <%= psu.make %> <%= psu.name %> <%= psu.watts %>W <a href="/products/psu"> change</a>
               </td>
                <td>$<%= psu.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= psu.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/psu?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/psu">Choose Power Supply</a>
               </td>
               <td></td>
               <td></td>
               <td></td>
               <% } %>
             </tr>
             <tr>
               <td>Case</td>
               <% if(Case.name != undefined){ %>
               <td>
                   <%= Case.make %> <%= Case.name %> <a href="/products/Case">change</a>
               </td>
                <td>$<%= Case.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= Case.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/Case?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/case">Choose Case</a>
               </td>
               <td></td>
               <td></td>
               <td></td>
               <% } %>
             </tr>
             <tr>
               <td>Monitor</td>
               <% if(monitor.name != undefined){ %>
               <td>
                   <%= monitor.make %> <%= monitor.name %> <%= monitor.size %> <a href="/products/monitor">change</a>
               </td>
                <td>$<%= monitor.price %></td><!-- Price !-->
                <td><a class="waves-effect waves-light blue lighten-1 btn" href="https://www.amazon.com/dp/<%= monitor.link %>" target="_target">Buy</a></td>
                <td>
                  <form action="list/monitor?_method=PUT" method="POST">
                        <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                  </form>
                </td>
               <% }else { %>
               <td>
                  <a class="waves-effect waves-light blue lighten-1 btn" href="/products/monitor">Choose Monitor</a>
               </td>
               <td></td>
               <td></td>
               <td></td>
               <% } %>
             </tr>
             <tr>
               <td></td>
               <td></td>
               <td style="font-weight:bold">Total: $<%= total %></td>
               <td></td>
               <td></td>
             </tr>
           </tbody>
         </table>
        </div>
        <% }else{ %>
        <div class="row" style="padding:100px 0px 70px 0px">
          <!--  Signup Section   -->
          <h3 class="header center blue-text">Login or Sign Up To Start Building!</h3>
          <div class="row" style="padding-top:30px; color:blue">
            <div class="col s12 m12 center-align ">
              <a href="/signup" class="waves-effect blue lighten-1 btn"><i class="material-icons left">add_circle</i>Sign Up!</a>
                  <a href="/login" class="waves-effect orange lighten-1 btn"><i class="material-icons left">check</i>Login!</a>
            </div>
           </div>
         </div>
        <% } %>
    </div>
  <br><br>
  </div> <!--Main container closed !-->
  <!--  Signup Section   -->
  <div class="section orange lighten-1" style="width:100%;">
    <h3 class="header center white-text">View Completed Builds!</h3>
    <div class="row" style="padding-top:30px">
      <div class="col s12 m12 center-align">
        <a href="/posts" class="waves-effect blue lighten-1 btn"><i class="material-icons left">check</i>Completed Builds</a>
      </div>
    </div>
  </div>


    <% include ./partials/footer %>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
