<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-3">
      <div class="container">
          <h4>Choose CPU</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>
                <tr>
                    <th>CPU</th>
                    <th>Socket</th>
                    <th>Base Clock</th>
                    <th>Cores</th>
                    <th>TDP</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<cpu.length; i++){ %>
                <tr>
                  <td><%= cpu[i].make %> <%= cpu[i].name %></td>
                  <td><%= cpu[i].socket %></td>
                  <td><%= cpu[i].baseclock %>GHz</td>
                  <td><%= cpu[i].cores %></td>
                  <td><%= cpu[i].tdp %></td>
                  <td>$<%= cpu[i].price %></td>
                  <td>
                    <form action="/products/cpu/<%= cpu[i].name %>/<%= cpu[i].make %>/<%= cpu[i].price %>/<%= cpu[i].amazonlink %>/<%= cpu[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>

      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
