<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-2">
      <div class="container">
          <h4>Choose Storage</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>
                <tr>
                    <th>Storage</th>
                    <th>Series</th>
                    <th>Form</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<storage.length; i++){ %>
                <tr>
                  <td><%= storage[i].make %> <%= storage[i].name %></td>
                  <td><%= storage[i].series %></td>
                  <td><%= storage[i].form %></td>
                  <td><%= storage[i].type %></td>
                  <td><%= storage[i].size %>GB</td>
                  <td>$<%= storage[i].price %></td>
                  <td></td>
                  <td>
                    <form action="/products/storage/<%= storage[i].name %>/<%= storage[i].make %>/<%= storage[i].price %>/<%= storage[i].amazonlink %>/<%= storage[i].size %>/<%= storage[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
