<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-3">
      <div class="container">
          <h4>Choose Case</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>

                <tr>
                    <th>Case</th>
                    <th>Type</th>
                    <th>PSU Included</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<Case.length; i++){ %>
                <tr>
                  <td><%= Case[i].make %> <%= Case[i].name %></td>
                  <td><%= Case[i].type %></td>
                  <td><%= Case[i].psuIncluded %></td>
                  <td>$<%= Case[i].price %></td>
                  <td>
                    <form action="/products/Case/<%= Case[i].name %>/<%= Case[i].make %>/<%= Case[i].price %>/<%= Case[i].amazonlink %>/<%= Case[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
