<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-3">
      <div class="container">
          <h4>Choose Power Supply</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>
                <tr>
                    <th>Power Supply</th>
                    <th>Series</th>
                    <th>Form</th>
                    <th>Efficiency</th>
                    <th>Watts</th>
                    <th>Modular</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<psu.length; i++){ %>
                <tr>
                  <td><%= psu[i].make %> <%= psu[i].name %></td>
                  <td><%= psu[i].series %></td>
                  <td><%= psu[i].form %></td>
                  <td><%= psu[i].efficiency %></td>
                  <td><%= psu[i].watts %>W</td>
                  <td><%= psu[i].modular %></td>
                  <td>$<%= psu[i].price %></td>
                  <td>
                    <form action="/products/psu/<%= psu[i].name %>/<%= psu[i].make %>/<%= psu[i].price %>/<%= psu[i].amazonlink %>/<%= psu[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
