<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-3">
      <div class="container">
          <h4>Choose CPU Cooler</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>
                <tr>
                    <th>CPU Cooler</th>
                    <th>Fan Speed</th>
                    <th>Noise Level</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<cooler.length; i++){ %>
                <tr>
                  <td><%= cooler[i].make %> <%= cooler[i].name %></td>
                  <td><%= cooler[i].speed %></td>
                  <td><%= cooler[i].noise %></td>
                  <td>$<%= cooler[i].price %></td>
                  <td>
                    <form action="/products/cpu-cooler/<%= cooler[i].name %>/<%= cooler[i].make %>/<%= cooler[i].price %>/<%= cooler[i].amazonlink %>/<%= cooler[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
