<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-3">
      <div class="container">
          <h4>Choose Monitor</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>
                <tr>
                    <th>Monitor</th>
                    <th>Resolution</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<monitor.length; i++){ %>
                <tr>
                  <td><%= monitor[i].make %> <%= monitor[i].name %></td>
                  <td><%= monitor[i].resoluiton %></td>
                  <td><%= monitor[i].size %></td>
                  <td><%= monitor[i].price %></td>
                  <td>
                    <form action="/products/monitor/<%= monitor[i].name %>/<%= monitor[i].make %>/<%= monitor[i].price %>/<%= monitor[i].amazonlink %>/<%= monitor[i].size %>/<%= monitor[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
