<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>

    <div class="top-text orange lighten-3">
      <div class="container">
          <h4>Choose Motherboard</h4>
      </div>
    </div>

      <!--   Main Container   -->
    <div class="container">
      <div class="section">
        <div class="row" style="padding:40px 0px 60px 0px">
          <table class="striped">
            <thead>
                <tr>
                    <th>Motherboard</th>
                    <th>Socket</th>
                    <th>Form Factor</th>
                    <th>RAM Slots</th>
                    <th>Max RAM</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<mobo.length; i++){ %>
                <tr>
                  <td><%= mobo[i].make %> <%= mobo[i].name %></td>
                  <td><%= mobo[i].socket %></td>
                  <td><%= mobo[i].form %></td>
                  <td><%= mobo[i].ram %></td>
                  <td><%= mobo[i].maxRam %>GB</td>
                  <td>$<%= mobo[i].price %></td>
                  <td>
                    <form action="/products/mobo/<%= mobo[i].name %>/<%= mobo[i].make %>/<%= mobo[i].price %>/<%= mobo[i].amazonlink %>/<%= mobo[i]._id %>?_method=PUT" method="POST">
                      <input type="submit" value="Add">
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <% include ../partials/footer %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
  </body>
</html>
