<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>

  <style media="screen">
    body{
      background: url(../imgs/background.jpg) no-repeat;
      background-size: cover;
    }
  </style>
</head>
<body >

  <% include ../partials/nav %>

    <!--   Main Container   -->
  <div class="container center-align">
    <div class="section">
      <div class="row" style="padding:80px 0px 60px 0px;">
        <div class="col l6 m12">
          <img class="responsive-img" src="<%= post.img %>" alt="">
        </div>
        <div class="col l6 m12 white-text left-align">
        <h3 class="center-align"><%= post.title %></h3>
        <p><i class="material-icons dp48">account_circle</i> <span style="position: absolute;margin-top:2px; margin-left: 5px"><%= post.username %></span></p>
        <h5>Description:</h5>
        <p><%= post.content %></p>
        <p>Total: $<%= post.price %></p>
        <% if(user) { %>
          <% if(post.username === user.username){ %>
            <a class="btn waves-effect waves-light blue" href="/posts/edit/<%= post.id %>">Edit</a>
          <% } %>
        <% } %>
        </div>
      </div>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
</body>
</html>
